/* .pantalla {
    height: 100vh;
} */

:root {
    --main-color: #0000FF;
    --main-color-dark: #000C66;
    --main-color-light: #7EC8E3;
    --secondary-color: #BDBA00;
    --secondary-color-dark: #949100;
    --secondary-color-light: #E8E400;
    --bg-color: #050A30;
}

body {
    background-color: gray;
}

/* .calendari {
    background-color: aqua;
}

.tasques {
    background-color: blanchedalmond;
} */

.color3 {
    background-color: var(--main-color-dark);
    color: var(--main-color-light);
}

.calendari__nomDies {
    height: 3em;
}

.calendari__setmana {
    height: calc((100% - 3em) / 6);
}

.calendari__dia {
    background-color: var(--main-color-light);
}